/* banner */
.banner{
   background-image: url("/assets/Hero-bg.png");
}
.banner-pic{
        /* background-image: url("/assets/Hero-bg.png"); */
        display: flex;
        justify-content: center;
}

.banner-header{
    text-align: center;
}

.banner-description{
    text-align: center;
}

/* banner button */
.banner-button{
   display: flex;
   justify-content: center;
   text-align: center;
   border: none;
}
.button-paragraph{
  color: rgb(0, 0, 0);
}
/* page 1 */
/* section 1 2 3 */
.page1{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.page1-section1{
position: static;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex: none;

align-self: stretch;
}
.page1-section2{
position: static;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

flex: none;

align-self: stretch;

}
.page1-section3{
position: static;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex: none;

align-self: stretch;
}